{% load static %}
{% if page.bg_image %}
<header class="masthead" style="background-image: url('{{page.bg_image.url}}')">
{% else %}
<header class="masthead" style="background-image: url('{% static "assets/img/about-bg.jpg" %}')">
{% endif %}

    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{page.title|default:"Clean Blog"}}</h1>
                    <span class="subheading">{{page.sub_title | default:"Ablog theme by boot strap" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>